@layer reset, init, design;

@import url(./normalize.css) layer(reset);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer design {
    :root {
        color-scheme: light dark;

        --header-bg-color: light-dark (#3b3e40, #3b3e40);
        --text-header-color : light-dark(#ffffff, #ffffff);
        --primary-color:  light-dark (#66d4d4, #138585);
        --secondary-color: light-dark(#ffffff, #ffffff);
        --text-color: light-dark(#000000, #ffffff);
       
    }
.header {
    background-image: url("../images/header-2560w.webp");
    background-size: cover;
    background-position: top left;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    }
}